@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/*Set object and text styling*/
body {
  background: #1d1d1f;
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: white;
  overflow-x: hidden;
}

#header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 44px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(20px);
  color: white;
  display: flex;
  place-items: center;
  justify-content: center;
  border-bottom: 3px #1d1d1f solid;
}

img {
  object-fit: contain;
}

iframe {
  width: max(calc(80vw - 20%), 115px);
  height: max(36vw, 65px);
  object-fit: contain;
  padding-bottom: 3vw;
}

#header img {
  padding: 0px 16px;
  width: 14px;
}

#nav-bar a {
  margin: 0 0px;
  padding: 0px 8px;
  text-decoration: none;
  font-size: 12px;

  color: rgb(179, 179, 179);
  transition: color 400ms;
}

#nav-bar a:hover {
  color: #fff;
}

.main-content {
  width: 100%;
  font-size: 62.5%;
  text-align: left;
}

/*Sub-class styling*/

.main-content > .main-section  {
  padding: 8vw 6vw;
  width: calc(100% - 12vw);
}

.main-content > .main-section:first-of-type {
  margin-top: 44px;
}

.main-content > .dummy-section  {
  padding: 8vw 6vw;
  width: calc(100% - 12vw);
}

.black {
  background-color: black;
}

.grey {
  background-color: #1d1d1f;
}

/*Styles for different text types*/
h1 {
  font-size: max(3.5vw, 1.5rem);
  padding-left: 0vw;
}

h2 {
  font-size: max(3.2vw, 1.5rem);
}

h3 {
  font-size: max(1.7vw, 1rem);
  z-index: 2;
}

.center {
  text-align: center;
}

p {
  font-size: max(0.85vw, 12px);
}

hr {
  border: none;
  border-bottom: 1px solid #86868b;
  margin: 4em 0;
}

#View > img {
  margin: 2em 0;
  width: 100%;
}

#View > p {
  text-align: center;
}

#Pre-order > h1 {
  margin-bottom: max(6vw, 1.5rem);
}

.detail {
  color: #86868b;
  font-size: 1rem;
  line-height: 1.4rem;
}

.small {
  font-size: 12px;
  line-height: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

.link {
  color: rgba(255, 255, 255, 0.8);
}

/*Button and containers*/

.video-container {
  background-color: black;
  width: 80vw;
  margin: 0 0;
  padding: 0.6vw 3vw;
  border-radius: 25px;
}

.ex-action {
  font-size: 1rem;
  color: white;
  border: none;
  background: rgb(48, 111, 219);
  margin: 1em 0;
  padding: 0.6rem 1rem;
  border-radius: 100px;
}

.ex-action:hover {
  background: rgb(50, 116, 216);
  cursor: pointer;
}

.big {
  border-radius: 12px;
  padding: 1rem;
}

/**Input section styling**/
input {
  display: inline;
  border: 1px solid #86868b;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 17px;
  background: #1d1d1f;
  color: #fff2f4;
  padding: 1rem;
  width: max(38vw, 360px);
  margin: 0 3rem 0.4rem 0;
}

input:required:focus:invalid {
  border-color: red;
  background: #ffcccc;
  color: #1d1d1f;
}

input:required:valid {
  border-color: #86868b;
}

/*Skinny screen adjustments*/
@media only screen and (max-width: 700px) {
  .video-container {
    text-align: center;
  }

  input {
    width: 95%;
  }
}